spring:
  datasource:
    url: jdbc:h2:mem:localdb
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    hr.abysalto.hiring.mid: DEBUG
    org.springframework.security: DEBUG